.container{
    position: relative;
    background-color: hsl(217, 19%, 24%);
    margin: auto;
    width: 80%;
    max-width: 32rem;
    padding: 0.5rem 1rem;
    max-height: 25rem;
    border-radius: 20px;

}

.container p{
    margin-top: 1.5rem;
    color:hsl(150, 100%, 66%);
    margin-bottom: 1.5rem;
}

.container h3{
    color: white;
    max-width: 30rem;
    font-size: 28px;
}

.hrBar{
    margin-top: 2rem;
    margin-bottom: 3rem;
    max-width: 92%;
}

.dice{
    display: flex;
    height: 3rem;
    width: 3rem;
    position: absolute;
    background-color: hsl(150, 100%, 66%);
    padding: 0.7rem;
    border-radius: 100%;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -1.5rem;
}

.dice:hover{
    background-color: hsl(150, 94%, 50%);
}

@media screen and (max-width: 500px){
    .container h3{
        font-size: 20px;        
    }

    .dice{
        /* left:4%; */
        padding: 0.5rem;
    }
}